* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  display: flex;
  margin-top: 48px;
}

.header__h4 {
  font-size: 1.6rem;
}

.about-me {
  margin-right: 615px;
}

.contact {
  margin-left: 615px;
}

.header__h1 {
  font-family: "Kurale", cursive;
  font-size: 8.8rem;
}

.header__section {
  display: flex;
}

.header__h3 {
  font-size: 2rem;
  letter-spacing: .1rem;
  padding: .5rem .5rem;
}

main {
  color: #FFFFFF;
  background-color: #8DB9C1;
  font-size: 2rem;
  text-align: center;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 100px;
}

.main__p {
  padding: .5rem .5rem;
}

footer {
  color: #9B6A6C;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__a {
  text-decoration: none;
  color: #9B6A6C;
}
