#static-header {
  background: url(../img/ignasi_pattern_s.png);
  background-size: inherit;
}

.header__nav {
  background-color: #8DB9C1;
  color: #EBEBEB;
  margin: 2.5rem 0 2rem;
  padding: .5rem 0.5rem;
}

.name,
.resume,
.contact {
  color: #EBEBEB;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 22px 16.2rem;
}

.contact__h1 {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #8DB9C1;
}

.contact__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0px;
}

.contact__aside {
  background-color: #9B6A6C;
  color: #FFFFFF;
}

.contact__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
