* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url("../img/ignasi_pattern_s.png");
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/portfolio_profile.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  display: flex;
  margin-top: 10px;
  background-color: #9b6a6c;
  padding: 22px 120px;
}

.header__article {
  z-index: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header__resume,
.header__contact,
.header__portfolio,
.header__skills {
  text-decoration: none;
  font-size: 2.5rem;
  color: #ebebeb;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.header__resume,
.header__portfolio,
.header__skills {
  margin-right: 27.5rem;
}

.header__resume:hover,
.header__contact:hover,
.header__portfolio:hover,
.header__skills:hover {
  color: #e2b4bd;
}

.header__h1 {
  font-family: "Kurale", cursive;
  font-size: 8.8rem;
  color: #ebebeb;
  letter-spacing: 0.3rem;
}

.hamburger-icon {
  visibility: hidden;
}

.header__section {
  display: flex;
}

#header__h3 {
  font-size: 4rem;
  font-weight: 400;
  color: #ebebeb;
}

#header--line {
  font-size: 4rem;
  font-weight: 400;
  color: #ebebeb;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 1rem 1.3rem 5rem;
}

.header__aside {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 45rem 0 4rem;
  border-radius: 0.5rem;
  font-size: 4rem;
  color: #ebebeb;
  letter-spacing: 0.08rem;
}

.downArrow {
  padding-top: 2rem;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8db9c1;
  width: 94%;
  margin: 0 3%;
  padding: 5rem 0;
}

.about__img {
  width: 24%;
  padding-left: 20px;
}

main {
  color: #ebebeb;
  text-align: center;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 3px #ebebeb;
}

.main__aside {
  width: 50%;
}

.main__p {
  font-size: 2.2rem;
  padding: 1rem 0;
}

.main__span {
  color: #424b54;
  font-weight: 600;
}

.resume__h4 {
  font-size: 3.3rem;
  color: #ebebeb;
  padding: 2rem 0;
}

.resume__btn {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #9b6a6c;
}

.resume__btn:hover {
  background-color: #af888a;
}

.resume__a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #ebebeb;
  letter-spacing: 0.08rem;
}

.skills__h3,
.portfolio__h3,
.header__h3,
.contact__h3 {
  font-weight: 700;
  color: #9b6a6c;
  font-size: 8rem;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 1rem 0 5rem;
}

#skills__h3 {
  padding-top: 5rem;
}

.skills__article {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 11rem;
}

.skills__h4,
.skills__icon {
  color: #9b6a6c;
  font-family: "Kurale", cursive;
  font-size: 4rem;
  letter-spacing: 0.08rem;
}

.skills__icon {
  color: #8db9c1;
}

.skills__p {
  padding: 2px;
  color: #424b54;
  font-size: 3rem;
}

.fe-dev-skills-wrap {
  display: flex;
}

#fe-dev-skills {
  padding: 0px 23px 0 23px;
}

.project-manage__div,
.marketing__div,
.design__div,
.fe-dev__div {
  text-align: center;
}

#fe-dev__div {
  padding-bottom: 13rem;
}

#design__div {
  padding-bottom: 11rem;
}

.portfolio-container {
  margin: 0 3%;
  padding: 5rem 0;
  width: 94%;
  background-color: #8db9c1;
}

.portfolio__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio-kindara {
  display: flex;
  align-items: center;
  background: url(../img/Kindara_iPhone_mockup.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 400px;
}

#portfolio-st {
  display: flex;
  align-items: center;
  background: url(../img/ST_macbook_mockup.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 400px;
}

.portfolio__h3 {
  text-align: center;
  color: #ebebeb;
}

.portfolio__article .kindara__a,
.portfolio__article .st__a {
  font-size: 3rem;
  color: #ffffff;
  background: #9b6a6c;
  padding: 1.5rem;
  width: 56%;
  /* margin-top: 250px; */
  opacity: 0;
  text-decoration: none;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.portfolio__article:hover .kindara__a,
.portfolio__article:hover .st__a {
  opacity: 0.8;
}

#contact__h3 {
  padding: 100px 0 66px;
}

.contact__article {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 11rem;
}

.contact__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__h4,
.contact__a {
  color: #9b6a6c;
  font-family: "Kurale", cursive;
  font-size: 4rem;
  letter-spacing: 0.08rem;
}

.contact__a {
  text-decoration: none;
}

.contact__a:hover {
  color: #af888a;
  text-decoration: underline;
}

.contact__icon {
  color: #8db9c1;
  font-size: 6rem;
}

#email,
#github {
  padding-bottom: 130px;
}

footer {
  color: #9b6a6c;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11rem 0;
}

.footer__a {
  text-decoration: none;
  color: #9b6a6c;
}

.footer__a:hover {
  color: #af888a;
}

/* Hamburger Menu */
.menu-toggle {
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 3.3em;
  color: #ffffff;
  position: relative;
  right: 333px;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #424b54;
}

#menu-close {
  color: #8db9c1;
}

.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  width: 200px;
  background: rgba(66, 75, 84, 0.75);
}

.main-menu a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1.4em;
  font-size: 1.6em;
  color: #fff;
  text-decoration: none;
  border-bottom: 0.5px solid #ffffff;
}

.main-menu li:first-child a {
  border-top: 1px solid #ffffff;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #424b54;
  text-decoration: underline;
}

.main-menu:target {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0, 0, 0, 0.75);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

.menu-toggle,
.main-menu,
.menu-close {
  display: none;
}

/* Media Queries  */

@media screen and (max-width: 1512px) {
  .header__nav {
    padding: 22px;
  }
}

@media screen and (max-width: 1340px) {
  #kindara__a,
  #st__a {
    opacity: 0.8;
    width: 68%;
  }

  #header__resume,
  #header__portfolio,
  #header__skills {
    margin-right: 18.3rem;
  }

  .header__h1 {
    font-size: 5rem;
  }

cd F
}

@media screen and (max-width: 1046px) {
  #header__resume,
  #header__portfolio,
  #header__skills {
    margin-right: 15rem;
  }
}

@media screen and (max-width: 971px) {
  .header {
    background-position: center;
  }

  #header__resume,
  #header__portfolio,
  #header__skills {
    margin-right: 12rem;
    font-size: 1.8rem;
  }

  #header__contact {
    font-size: 1.8rem;
  }

  #kindara__a,
  #st__a {
    margin-bottom: 60px;
  }

  .main__p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .main__aside {
    width: 75%;
  }

  .skills__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .marketing__div,
  #design__div,
  #fe-dev__div {
    padding-bottom: 66px;
  }

  #kindara__a,
  #st__a {
    font-size: 2rem;
  }

  #contact__h3,
  #skills__h3,
  #portfolio__h3 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .menu-toggle,
  .main-menu,
  .menu-close {
    display: block;
  }

  #header__nav {
    display: none;
  }
}
