* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url("../img/ignasi_pattern_s.png");
}

header {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../img/portfolio_profile.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  display: flex;
  margin-top: 10px;
  background-color: #9B6A6C;
  padding: 22px 120px;
}

.header__article {
  z-index: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header__resume,
.header__contact,
.header__portfolio,
.header__skills {
  text-decoration: none;
  font-size: 2.5rem;
  color: #EBEBEB;
}

.header__resume,
.header__portfolio,
.header__skills {
  margin-right: 275px;
}

.header__resume:hover,
.header__contact:hover,
.header__portfolio:hover,
.header__skills:hover {
  color: #E2B4BD;
}

.header__h1 {
  font-family: "Kurale", cursive;
  font-size: 8.8rem;
  color: #EBEBEB;
  letter-spacing: .3rem;
}

.hamburger-icon {
  visibility: hidden;
}

.header__section {
  display: flex;
}

#header__h3 {
  font-size: 4rem;
  font-weight: 400;
  color: #EBEBEB;
}

.header__aside {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 45rem 0 4rem;
  border-radius: .5rem;
  font-size: 4rem;
  color: #EBEBEB;
  letter-spacing: .08rem;
}

.downArrow {
  padding-top: 2rem;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8DB9C1;
  width: 94%;
  margin: 0 3%;
  padding: 5rem 0;
}

.about__img {
  width: 24%;
  padding-left: 20px;
}

main {
  color: #EBEBEB;
  text-align: center;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 3px #EBEBEB;
}

.main__aside {
  width: 50%;
}

.main__p {
  font-size: 2.2rem;
  padding: 1rem 0;
}

.main__span {
  color: #424B54;
  font-weight: 600;
}

.resume__h4 {
  font-size: 3.3rem;
  color: #EBEBEB;
  padding: 2rem 0;
}

.resume__btn {
  padding: 2rem;
  border-radius: .5rem;
  background-color: #9B6A6C;
}

.resume__btn:hover {
  background-color: #AF888A;
}

.resume__a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #EBEBEB;
  letter-spacing: .08rem;
}

.skills__h3,
.portfolio__h3,
.header__h3 {
  font-weight: 700;
  color: #9B6A6C;
  font-size: 8rem;
  text-align: center;
  letter-spacing: .2rem;
  padding: 1rem 0 5rem;
}

#skills__h3 {
  padding-top: 5rem;
}

.skills__article {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 11rem;
}

.skills__h4,
.skills__icon {
  color: #9B6A6C;
  font-family: "Kurale", cursive;
  font-size: 4rem;
  letter-spacing: .08rem;
}

.skills__icon {
  color: #8DB9C1;
}

.skills__p {
  padding: 2px;
  color: #424B54;
  font-size: 3rem;
}

.fe-dev-skills-wrap {
  display: flex;
}

#fe-dev-skills {
  padding: 0px 23px 0 23px;
}

.project-manage__div,
.marketing__div,
.design__div,
.fe-dev__div {
  text-align: center;
}

#fe-dev__div {
  padding-bottom: 18rem;
}

#design__div {
  padding-bottom: 11rem;
}

.portfolio-container {
  margin: 0 3%;
  padding: 5rem 0;
  width: 94%;
  background-color: #8DB9C1;
}

.portfolio__div {
  display: flex;
}

.portfolio__article {
  margin-left: 2rem;
}

#portfolio-kindara {
  display: flex;
  align-items: center;
  background: url("../img/Kindara_iPhone_mockup.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 75%;
  height: 459px;
}

#portfolio-st {
  display: flex;
  align-items: center;
  background: url("../img/ST_macbook_mockup.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 75%;
}

.portfolio__h3 {
  text-align: center;
  color: #EBEBEB;
}

.portfolio__article .kindara__a,
.portfolio__article .st__a {
  font-size: 3rem;
  color: #FFFFFF;
  background: #9B6A6C;
  padding: 1.5rem;
  width: 56%;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.portfolio__article:hover .kindara__a,
.portfolio__article:hover .st__a {
  opacity: 0.8;
}

footer {
  color: #9B6A6C;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11rem 0;
}

.footer__a {
  text-decoration: none;
  color: #9B6A6C;
}

.footer__a:hover {
  color: #AF888A;
}

/* Media Queries  */

@media screen and (max-width: 1512px) {

  .header__nav {
    padding: 22px;
  }
}

@media screen and (max-width: 1340px) {
  .header__nav {
    visibility: hidden;
  }

  .hamburger-icon {
    visibility: visible;
  }

  .header__h1 {
    font-size: 5rem;
  }

  #header__h3 {
    font-size: 3rem;
  }

}
